* {
    text-align: center;
}
header {
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtvyjgQYtx0dfzrzEKsC64edZ80u9yeXI3PdytZSoU_2U5_un2);
    background-size: 300px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
body {
    background-color: rgb(170, 125, 57);
    font-family: verdana;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
}
ul li {
    list-style-type: disc;
    list-style-position: inside;
}
.headline {
    background-color: rgb(212, 170, 106);
}
#html5logo {
    height: 200px;
    position: fixed;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255, 221, 170);
    background-color:  rgb(128, 85, 21);
}
ol {
    list-style-type: disc;
    list-style-position: inside;
}
#top10ol {
    background-color: rgb(212, 170, 106);
}
li {
    background-color: rgb(128, 85, 21);
}
#aboutMe {
    width: 30%;
    float: left;
    margin: 1%;
}
#top10box {
    width: 30%;
    float: left;
    margin: 1%;
}
#navBar {
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 20px;
}